// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.counters {
    margin-right: 30px;
    text-align: center;
    .vote {
        display: -moz-inline-grid;
    }
    strong {
        display: block;
    }
    .status.answered {
        color: $white;
        background-color: #48a868;
        border-color: rgba(72,168,104,0.5);
        padding: 4px 7px 5px;
        border-radius: 3px;
        border: 1px solid;
    }
    .status.unanswered {
        border: 1px solid #48a868;
        border-radius: 3px;
        padding: 4px 7px 5px;
    }
}
.vote-controls {
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: $gray-700;
    span, a {
        display: block;
    }

    span {
        &.votes-count {
            font-size:25px;
        }
        &.favorites-count {
            font-size:12px;
        }
    }
    a {
        cursor: pointer;
        color: $gray-600;

        &.off, &.off:hover {
            color: $gray-500;
        }    

        &.favorite {
            &.favorited, &.favorited:hover {
            color: $yellow;
            }
        }
        &.vote-accepted {
            color: $green;
        }
    } 
}